<div id="layout-civitai-explorer-group" class="flexbox col">
    <div id="layout-civitai-explorer" class="layout no-padding">
        <div id="civitai_images_tabitem" class="xtabs-item layout-extra-networks">
            <div id="layout-civitai-cards-images" class="layout">
                <div class="layout-header">
                    <div class="flexbox row flex-start group-row">
                        <input id="civit_search_images" type="text" placeholder="Search User.." class="flex-width">
                        <button id="civit_search_images_clear" class="ae-button shrink">
                            <div class="mask-icon icon-cancel"></div>
                        </button>
                        <select id="civit_sort_images">
                            <option selected value="Most Reactions">Most Reactions</option>
                            <option value="Most Comments">Most Comments</option>
                            <option value="Newest">Newest</option>
                        </select>
                        <select id="civit_period_images">
                            <option selected value="AllTime">AllTime</option>
                            <option value="Year">Year</option>
                            <option value="Month">Month</option>
                            <option value="Week">Week</option>
                            <option value="Day">Day</option>
                        </select>
                        <select id="civit_nsfw_images">
                            <option selected value="None">None</option>
                            <option value="Soft">Soft</option>
                            <option value="Mature">Mature</option>
                            <option value="X">X</option>
                        </select>
                    </div>
                </div>
                <div class="layout-content">
                    <div id="civitai_cardholder_images" class="ae-virtual-cardholder"></div>
                </div>
            </div>
        </div>
        <div id="civitai_models_tabitem" class="xtabs-item layout-extra-networks">
            <div id="layout-civitai-cards-models" class="layout">
                <div class="layout-header">
                    <div class="flexbox row flex-start group-row">
                        <input id="civit_search_models" type="text" placeholder="Search.." class="flex-width">
                        <button id="civit_search_models_clear" class="ae-button shrink">
                            <div class="mask-icon icon-cancel"></div>
                        </button>
                        <select id="civit_type_models">
                            <option selected value="">All</option>
                            <option value="Checkpoint">Checkpoint</option>
                            <option value="LORA">LORA</option>
                            <option value="TextualInversion">TextualInversion</option>
                            <option value="Hypernetwork">Hypernetwork</option>
                            <option value="AestheticGradient">AestheticGradient</option>
                            <option value="Controlnet">Controlnet</option>
                            <option value="Poses">Poses</option>
                        </select>
                        <select id="civit_sort_models">
                            <option selected value="Highest Rated">Highest Rated</option>
                            <option value="Most Downloaded">Most Downloaded</option>
                            <option value="Most Liked">Most Liked</option>
                            <option value="Most Discussed">Most Discussed</option>
                            <option value="Most Collected">Most Collected</option>
                            <option value="Most Images">Most Images</option>
                            <option value="Newest">Newest</option>
                            <option value="Oldest">Oldest</option>
                        </select>
                        <select id="civit_period_models">
                            <option selected value="AllTime">AllTime</option>
                            <option value="Year">Year</option>
                            <option value="Month">Month</option>
                            <option value="Week">Week</option>
                            <option value="Day">Day</option>
                        </select>
                        <select id="civit_nsfw_models">
                            <option selected value="false">NSFW</option>
                            <option value="true">Disabled</option>
                        </select>
                    </div>
                </div>
                <div class="layout-content">
                    <div id="civitai_cardholder_models" class="ae-virtual-cardholder"></div>
                </div>
            </div>
        </div>
    </div>
</div>
